#include "resource.h"

DLG DIALOG DISCARDABLE 100,100,500,500
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_MODALFRAME | DS_CENTER
CAPTION "First dialog box"
FONT 8, "MS SANS SERIF"
BEGIN
	PUSHBUTTON "OK", IDOK, 174, 18, 50, 14
	PUSHBUTTON "CANCEL", IDCANCEL, 250, 18, 50, 14
	RADIOBUTTON "Register", ID_RADIO_REGISTER, 10, 10, 50, 14
	RADIOBUTTON "Delete", ID_RADIO_DELETE, 10, 30, 50, 14
	RADIOBUTTON "New", ID_RADIO_NEW, 10, 50, 50, 14
	EDITTEXT ID_EDIT_TEXT_BOX_1, 70, 20, 30, 15, ES_AUTOHSCROLL | ES_UPPERCASE
	//AUTORADIOBUTTON "Auto Radio 1", IDAUTORADIO1, 250, 160, 50, 14 
	CHECKBOX "Check Box 1", IDCHECKBOX1, 250, 180, 50, 14
END
