#include<windows.h>
#define DLG 101

DLG DIALOG DISCARDABLE 100,100,500,500
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_MODALFRAME | DS_CENTER
CAPTION "First dialog box"
FONT 8, "MS SANS SERIF"
BEGIN
	PUSHBUTTON "OK", IDOK, 174, 18, 50, 14
	PUSHBUTTON "CANCEL", IDCANCEL, 250, 18, 50, 14
END
