#include "resource.h"

DLG DIALOG DISCARDABLE 100,100,600,380
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_MODALFRAME | DS_CENTER
CAPTION "First dialog box"
FONT 8, "MS SANS SERIF"
BEGIN
	
	GROUPBOX "SIGN IN", ID_GROUP_BOX_1, 7, 7, 580, 90
	RADIOBUTTON "Registered", ID_RADIO_REGISTER, 30, 30, 50, 14
	RADIOBUTTON "Delete", ID_RADIO_DELETE, 30, 50, 50, 14
	RADIOBUTTON "New", ID_RADIO_NEW, 30, 70, 50, 14
	EDITTEXT ID_EDIT_TEXT_BOX_1, 130, 40, 30, 15, ES_AUTOHSCROLL | ES_UPPERCASE
	
	//AUTORADIOBUTTON "Auto Radio 1", IDAUTORADIO1, 250, 160, 50, 14 
	//CHECKBOX "Check Box 1", IDCHECKBOX1, 250, 180, 50, 14
	
	GROUPBOX "ENTRY", ID_GROUP_BOX_2, 7, 110, 580, 90
	LTEXT "First Name", ID_FNAME_TEXT, 30, 130, 50, 30
	LTEXT "Middle Name", ID_MNAME_TEXT, 170, 130, 50, 30
	LTEXT "Last Name", ID_LNAME_TEXT, 335, 130, 50, 30
	EDITTEXT ID_FNAME_INPUT, 70, 130, 70, 15, ES_UPPERCASE | ES_AUTOHSCROLL
	EDITTEXT ID_MNAME_INPUT, 220, 130, 70, 15, ES_UPPERCASE | ES_AUTOHSCROLL
	EDITTEXT ID_LNAME_INPUT, 380, 130, 70, 15, ES_UPPERCASE | ES_AUTOHSCROLL

	LTEXT "City", ID_CITY_NAME_TEXT, 30, 160, 50, 30
	COMBOBOX ID_COMBOBOX_CITY, 70, 160, 80, 100, CBS_DROPDOWNLIST | WS_VSCROLL | CBS_SORT


	CTEXT "Hover a mouse over a group box for tooltip", ID_HOVER_TEXT, 160, 210, 150, 15

	GROUPBOX "OPERATION", ID_GROUP_BOX_3, 7, 225, 580, 110
	
	GROUPBOX "BASIC 1", ID_GROUPBOX_BASIC_1, 15, 240, 110, 80
	CHECKBOX "ADD", ID_CHECKBOX_ADD, 20, 255, 30, 15
	CHECKBOX "SUB", ID_CHECKBOX_SUB, 20, 280, 30, 15
	EDITTEXT ID_ADDITION_TEXTBOX_1, 60, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	LTEXT "+" ID_PLUS_TEXT, 85, 255, 20, 20
	EDITTEXT ID_ADDITION_TEXTBOX_2, 100, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT ID_SUBTRACTION_TEXTBOX_1, 60, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	LTEXT "-" ID_MINUS_TEXT, 85, 280, 20, 20
	EDITTEXT ID_SUBTRACTION_TEXTBOX_2, 100, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER

	GROUPBOX "BASIC 2", ID_GROUPBOX_BASIC_2, 130, 240, 110, 80
	CHECKBOX "MUL", ID_CHECKBOX_MUL, 135, 255, 30, 15
	CHECKBOX "DIV", ID_CHECKBOX_DIV, 135, 280, 30, 15
	EDITTEXT ID_MULTIPLICATION_TEXTBOX_1, 170, 255, 20, 15, ES_AUTOHSCROLL | ES_NUMBER
	LTEXT "*" ID_MUL_TEXT, 200, 260, 20, 20
	EDITTEXT ID_MULTIPLICATION_TEXTBOX_2, 210, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT ID_DIVISION_TEXTBOX_1, 170, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	LTEXT "/" ID_DIV_TEXT, 200, 280, 20, 20
	EDITTEXT ID_DIVISION_TEXTBOX_2, 210, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	
	GROUPBOX "POWER 1", ID_GROUPBOX_POWER_1, 245, 240, 100, 80
	CHECKBOX "SQUARE", ID_CHECKBOX_SQR, 250, 255, 50, 15
	CHECKBOX "CUBE", ID_CHECKBOX_CUBE, 250, 280, 50, 15
	EDITTEXT ID_SQUARE_TEXTBOX, 310, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT ID_CUBE_TEXTBOX, 310, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER

	GROUPBOX "POWER 2", ID_GROUPBOX_POWER_2, 355, 240, 105, 80
	CHECKBOX "SQUARE ROOT", ID_CHECKBOX_SQR_ROOT, 360, 255, 70, 15
	CHECKBOX "CUBE ROOT", ID_CHECKBOX_CUBE_ROOT, 360, 280, 70, 15
	EDITTEXT ID_SQUAREROOT_TEXTBOX, 430, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT ID_CUBEROOT_TEXTBOX, 430, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER

	GROUPBOX "TRIGONOMETRY", ID_GROUPBOX_TRIGO, 470, 240, 110, 80
	CHECKBOX "SINE", ID_CHECKBOX_SIN, 475, 255, 50, 15
	CHECKBOX "COSEC", ID_CHECKBOX_COS, 475, 280, 50, 15
	EDITTEXT ID_SIN_TEXTBOX, 540, 255, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT ID_COS_TEXTBOX, 540, 280, 20, 15,  ES_AUTOHSCROLL | ES_NUMBER
	

	PUSHBUTTON "OK", IDOK, 480, 360, 50, 14
	PUSHBUTTON "CANCEL", IDCANCEL, 540, 360, 50, 14
	PUSHBUTTON "LOG", ID_LOG_PUSHBUTTON, 420, 360, 50, 14
END
